*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}

body{
    background-color: rgb(236, 226, 226);
}

h1{
    color:#fff;
    background:#cddf67 ;
    width: 30%;
    margin: 15px 10px;
    border-radius: 5px;
    border-right: 50px;
    padding: 15px;
}

h2{
    margin: -50px 164px;
    font-size: 13px;
    font-style: unset;
}

.hr1{
    margin: 90px;
    border-radius: 20%;
}
